<section
  class="flex flex-col gap-0 w-full mb-0 mt-7 bg-neutral-900 border-[1px] border-neutral-700 rounded-sm"
>
  <section class="relative">
    <img
      src="../../../../assets/images/mountains.jpg"
      class="w-full h-[300px] rounded-t-md"
      alt=""
    />
    <a
      class="text-white hover:opacity-85 absolute text-[12px] bg-neutral-600 p-4 right-4 top-4 rounded-md cursor-pointer"
      >upload cover photo <i class="bi bi-camera"></i
    ></a>
    <div class="absolute bottom-[-40px] left-[3%]">
      <div class="relative">
        <img
          src="../../../../assets/images/me.jpg"
          class="w-32 h-32 rounded-full border-[1px] border-zinc-500"
          alt=""
        />
        <i
          class="absolute bi bi-pencil-fill left-[85%] top-20 h-8 w-8 text-sm flex justify-center items-center bg-zinc-200 text-zinc-600 p-1 cursor-pointer rounded-full"
        ></i>
      </div>
    </div>
  </section>
  <section
    class="p-6 pb-10 flex flex-col shadow-md justify-start items-start gap-3"
  >
    <h1 class="font-semibold text-2xl mt-8 mb-3 text-center text-neutral-200">
      Mário Norberto
    </h1>

    <div class="flex gap-3 justify-start text-[12px]">
      <span class="text-neutral-400"
        ><i class="bi bi-laptop"></i> Fullstack Developer
      </span>
      <span class="text-neutral-400"
        ><i class="bi bi-geo-alt"></i> Luanda, Angola
      </span>
      <span class="text-neutral-400"
        >Joined July 29 <i class="bi bi-calendar-date"></i
      ></span>
    </div>

    <div class="flex flex-col justify-start items-start">
      <span class="font-semibold text-start text-lg mt-2 text-white"
        >profile complete</span
      >
      <div class="flex gap-1 items-center justify-center">
        <div class="bg-zinc-300 w-48 h-1 rounded-md">
          <div class="bg-[#e6b400] w-20 h-1 rounded-md"></div>
        </div>
        <span class="text-[9px] text-white">60%</span>
      </div>
    </div>
  </section>
</section>

<section
  class="flex flex-col justify-between items-stretch gap-2 mb-0 mt-0 mx-auto w-[70%] bg-neutral-950 p-6 shadow-sm border-[1px] border-neutral-700"
>
  <h3 class="text-neutral-300 font-semibold">Edit your profile information</h3>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="firstname"
        placeholder="Firstname"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="lastname"
        placeholder="Lastname"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="job"
        placeholder="Job Title"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="company"
        placeholder="Company Name"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="phone"
        placeholder="Phone Number"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="email"
        placeholder="Email Address"
      />
    </div>
  </div>
  <textarea
    type="text"
    name="bio"
    class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
    placeholder="write your bio information here!"
  ></textarea>
  <div class="flex gap-2">
    <button
      class="text-black bg-prime rounded-md py-2 px-2 text-sm font-semibold hover:opacity-75 mt-4"
    >
      submit changes
    </button>
  </div>
</section>

<section
  class="flex flex-col justify-between items-stretch gap-2 mb-0 mt-0 mx-auto w-[70%] bg-neutral-950 p-6 shadow-sm border-[1px] border-neutral-700"
>
  <h3 class="text-black font-semibold">Profissional information</h3>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="mainJob"
        placeholder="Main job"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="firstJob"
        placeholder="Is your Firs Job?"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="remoteJob"
        placeholder="Is you work remote?"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="jobPlace"
        placeholder="Where is your job placed?"
      />
    </div>
  </div>
  <div class="flex gap-1 w-full">
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="phone"
        placeholder="Phone Number"
      />
    </div>
    <div class="w-1/2">
      <input
        type="text"
        class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        name="email"
        placeholder="Email Address"
      />
    </div>
  </div>
  <div class="flex gap-2">
    <button
      class="text-black bg-prime rounded-md py-2 px-2 text-sm font-semibold hover:opacity-75 mt-4"
    >
      submit changes
    </button>
  </div>
</section>

<section
  class="flex flex-col justify-between items-stretch gap-2 mb-0 mt-0 mx-auto w-[70%] bg-neutral-950 p-6 shadow-sm border-[1px] border-neutral-700"
>
  <h3 class="text-white font-semibold">Connected Account</h3>
  <span class="text-neutral-500 text-sm mb-2"
    >Manage and sync your account to teampace.</span
  >
  <div class="flex gap-1 w-[50%]">
    <div class="flex gap-1 w-full">
      <div class="w-1/2 flex justify-start gap-2 items-center">
        <div class="flex gap-2 items-center justify-start">
          <i class="bi bi-github text-white"></i>
          <h3 class="text-sm text-white">Github</h3>
        </div>
        <button
          class="bg-red-100 hover:opacity-85 text-sm cursor-pointer p-1 px-2 rounded-md text-red-500"
        >
          Disconnect
        </button>
      </div>
    </div>
  </div>
</section>
