<section
  class="flex flex-col justify-between items-stretch gap-3 mb-6 mt-8 mx-auto w-[full] bg-neutral-900 rounded-lg p-6 shadow-sm"
>
  <h3 class="text-neutral-600 font-semibold">
    Edit your Notifications settings
  </h3>
  <form
    action=""
    method="post"
    class="border-[1px] border-neutral-800 mt-4 rounded-md p-4"
  >
    <span class="font-bold my-1 text-neutral-600"
      >Notifications Preferences
    </span>
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >Email Notifications:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >SMS Notifications:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >Push Notifications:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <hr class="my-4 w-1/3 text-red-300" />
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >Financial Alerts:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >Account Activity:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <div class="flex gap-2 w-1/3 justify-between mt-2">
      <span class="font-medium text-neutral-600 text-[15px]"
        >Promotianal Messages:
      </span>
      <label class="inline-flex items-center cursor-pointer">
        <input type="checkbox" value="" checked class="sr-only peer" />
        <div
          class="relative w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-[var(--color-prime-main)] dark:peer-focus:ring-neutral-600 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-orange-600"
        ></div>
      </label>
    </div>
    <div class="flex gap-2 mt-4">
      <button
        class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-neutral-800 border-[1px] border-neutral-600 text-white bg-neutral-600 hover:shadow-md px-6 py-2 rounded-md shadow-sm"
      >
        Save
      </button>
      <button
        class="transition-all text-[14px] transition-[all 0.4s ease-in-out] font-medium hover:text-white hover:bg-neutral-800 border-[1px] border-neutral-600 text-neutral-600 bg-white px-6 py-2 rounded-md hover:shadow-md"
      >
        Cancel
      </button>
    </div>
  </form>
  <form
    action=""
    method="post"
    class="border-[1px] border-neutral-800 mt-4 rounded-md p-4"
  >
    <span class="font-bold my-1">Notifications History</span>
    <span class="font-light text-[12px] text-neutral-400 block mb-1"
      >see all on
      <a
        routerLink="/dashboard/notifications"
        class="underline font-semibold cursor-pointer"
        >notifications page</a
      ></span
    >

    <div class="grid grid-cols-1 grid-rows-1 w-full">
      <div
        class="flex flex-col gap-1 mt-2 rounded-md bg-orange-50 border-neutral-800 border-[1px] p-4 w-1/3"
      >
        <div class="flex flex-col">
          <div class="flex flex-col">
            <span class="font-bold">Google Alert</span>
            <span class="text-neutral-500 text-[11px]"
              >Email account configuration.</span
            >
          </div>
          <p class="text-sm py-3">For better security you need to...</p>
        </div>
        <div class="flex justify-start items-center gap-2 text-sm">
          <span class="text-neutral-400 font-bold me-2">unread</span>

          <a routerLink="" class="text-neutral-600 underline">see</a>
          <a routerLink="" class="text-neutral-200">|</a>
          <a routerLink="" class="text-blue-400 underline">as read</a>
          <a routerLink="" class="text-neutral-200">|</a>
          <a routerLink="" class="text-red-400 underline">delete</a>
        </div>
      </div>
      <div
        class="flex flex-col gap-1 mt-2 rounded-md bg-orange-50 border-neutral-100 border-[1px] p-4 w-1/3"
      >
        <div class="flex flex-col">
          <div class="flex flex-col">
            <span class="font-bold">Google Alert</span>
            <span class="text-neutral-500 text-[11px]"
              >Email account configuration.</span
            >
          </div>
          <p class="text-sm py-3">For better security you need to...</p>
        </div>
        <div class="flex justify-start items-center gap-2 text-sm">
          <span class="text-neutral-400 font-bold me-2">unread</span>

          <a routerLink="" class="text-neutral-600 underline">see</a>
          <a routerLink="" class="text-neutral-200">|</a>
          <a routerLink="" class="text-blue-400 underline">as read</a>
          <a routerLink="" class="text-neutral-200">|</a>
          <a routerLink="" class="text-red-400 underline">delete</a>
        </div>
      </div>

      <div class="flex justify-start items-center my-3 gap-2">
        <a
          class="bg-neutral-50 hover:text-neutral-400 cursor-pointer text-neutral-500 p-2 rounded-md text-sm"
          >Clear all</a
        >
        <a
          class="bg-neutral-50 hover:text-neutral-400 text-neutral-500 cursor-pointer p-2 rounded-md text-sm"
          >Mark all as read</a
        >
      </div>
    </div>
  </form>
</section>
