<section class="p-4 px-10 pe-5 flex flex-col justify-center items-start w-full">
  <section class="w-full flex justify-between items-center">
    <div class="relative w-[65%]">
      <input
        class="h-10 w-full focus:border-[var(--color-prime)] focus:ring-0 focus:outline-none text-neutral-600 placeholder-neutral-600 ps-10 rounded-md border-[1px] bg-neutral-900 border-neutral-700"
        type="text"
        placeholder="Search Project here..."
      />
      <i
        class="absolute text-neutral-600 top-2 left-2 bi bi-search hover:text-neutral-700"
      ></i>
      <i
        class="absolute text-neutral-600 top-2 right-2 bi bi-funnel-fill hover:text-neutral-700"
      ></i>
    </div>
    <div class="flex justify-end items-center gap-2">
      <div class="relative rounded-full flex justify-center items-center">
        <a
          routerLink="/teampace/dashboard/my-notifications"
          class="relative hover:shadow-md h-8 w-8 rounded-full cursor-pointer"
        >
          <i
            class="bi bi-bell-fill text-neutral-500 text-lg border-[1px] border-zinc-700 border-opacity-40 h-8 w-8 p-1 rounded-full flex justify-center items-center"
          ></i>
          <span
            class="absolute top-0 right-[-2px] bg-red-500 text-[9px] rounded-full flex justify-center items-center w-4 text-white"
            >10</span
          >
        </a>
      </div>
      <a
        routerLink="/teampace/dashboard/my-notifications"
        class="text-neutral-500 text-lg border-[1px] border-zinc-700 border-opacity-40 h-8 w-8 rounded-full flex justify-center items-center"
      >
        <mat-icon
          class="text-lg text-neutral-500 flex justify-center items-center"
          aria-hidden="false"
          fontIcon="settings"
        ></mat-icon>
      </a>
      <div class="bg-orange-400 rounded-full w-7 h-7">
        <img
          class="w-7 h-7 rounded-full"
          src="../../../assets/images/me.jpg"
          alt=""
        />
      </div>
    </div>
  </section>
  <section class="w-full mt-7">
    <section
      class="px-4 h-20 w-full text-neutral-600 bg-neutral-900 rounded-md flex justify-between items-center gap-4"
    >
      <div class="flex justify-start items-center gap-7">
        <div class="flex flex-col items-start justify-stretch gap-2">
          <span class="text-sm text-white opacity-40">Last opened</span>
          <h1 class="font-semibold text-white opacity-60">Cybernorb</h1>
        </div>
        <div class="flex flex-col items-start justify-stretch gap-2">
          <span class="text-sm text-white opacity-40">Last update</span>
          <h1 class="font-semibold text-white opacity-60">Mar 21, 2024</h1>
        </div>
        <div class="flex flex-col items-start justify-stretch gap-2">
          <span class="text-sm text-white opacity-40 -mt-2 mb-1"
            >People on project</span
          >

          <!-- <span class="text-sm text-white opacity-40">People On Project</span> -->

          <div class="relative w-full flex justify-start items-center">
            <img
              src="https://randomuser.me/api/portraits/thumb/women/89.jpg"
              alt=""
              class="absolute left-0 w-6 h-6 rounded-full"
            />
            <img
              src="https://randomuser.me/api/portraits/thumb/men/45.jpg"
              alt=""
              class="absolute left-5 w-6 h-6 rounded-full"
            />
            <img
              src="https://randomuser.me/api/portraits/thumb/women/79.jpg"
              alt=""
              class="absolute left-10 w-6 h-6 rounded-full"
            />

            <div
              class="absolute left-[55px] w-6 h-6 rounded-full bg-neutral-800 text-neutral-600 flex justify-center items-center"
            >
              <span>+</span>
            </div>
            <span class="p-2"></span>
          </div>
        </div>
      </div>
      <button
        class="text-black bg-prime rounded-md py-1 px-2 text-sm font-semibold hover:opacity-75"
      >
        Add People
      </button>
    </section>
    <section class="flex items-stretch gap-2 mt-2">
      <section class="w-[85%] h-40 bg-neutral-900 rounded-md">
        <div class="flex justify-between items-center py-4 px-4 mt-2">
          <ul class="flex justify-start items-center gap-5">
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'backlog'
                    ? 'text-black bg-prime rounded-md py-2 px-4 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('backlog')"
              >
                Backlog
              </button>
            </li>
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'roadmap'
                    ? 'text-black bg-prime rounded-md py-2 px-5 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('roadmap')"
              >
                RoadMap
              </button>
            </li>
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'active-sprints'
                    ? 'text-black bg-prime rounded-md py-2 px-4 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('active-sprints')"
              >
                Active sprints
              </button>
            </li>
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'releases'
                    ? 'text-black bg-prime rounded-md py-2 px-4 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('releases')"
              >
                Releases
              </button>
            </li>
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'reports'
                    ? 'text-black bg-prime rounded-md py-2 px-4 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('reports')"
              >
                Reports
              </button>
            </li>
            <li>
              <button
                class="{{
                  projectNavegationLinkActived == 'tasks'
                    ? 'text-black bg-prime rounded-md py-2 px-4 text-sm font-semibold'
                    : 'text-neutral-600 py-2 px-4'
                }}"
                (click)="onSwitchProjectNavegationLink('tasks')"
              >
                Tasks
              </button>
            </li>
          </ul>
          <button
            class="text-[#e0b107] opacity-75 bg-transparent border-[1px] border-[#e0b107] rounded-md py-1 px-2 text-sm font-semibold hover:opacity-60"
          >
            create task
          </button>
        </div>
        <div class="h-[1px] w-full bg-neutral-800 mb-3 mt-1"></div>
        <section class="w-full flex justify-between items-center px-4">
          <div class="relative w-[45%]">
            <input
              class="focus:border-[var(--color-prime)] focus:ring-0 focus:outline-none h-10 w-full text-neutral-600 placeholder-neutral-600 ps-10 rounded-md border-[1px] bg-neutral-900 border-neutral-800"
              type="text"
              placeholder="Search Project here..."
            />
            <i class="absolute top-2 left-2 bi bi-search text-neutral-600"></i>
          </div>
          <div class="flex justify-center items-center gap-5">
            <a href="" class="text-sm text-neutral-600 hover:text-neutral-700">
              <i class="bi bi-check2-circle text-neutral-500"></i>
              My tasks</a
            >
            <a href="" class="text-sm text-neutral-600 hover:text-neutral-700">
              <i class="bi bi-clock-history text-neutral-500"></i> Recent</a
            >
            <a href="" class="text-sm text-neutral-600 hover:text-neutral-700"
              ><i class="bi bi-filter text-neutral-500"></i> All Filters</a
            >
          </div>
        </section>
        <section
          class="rounded-md bg-neutral-900 opacity-80 w-full flex-col mt-4"
        >
          <div class="flex justify-between item-center p-4 pt-7">
            <span class="text-neutral-500"
              >Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Vitae.</span
            >
            <i class="bi bi-three-dots text-neutral-500"></i>
          </div>
          <div class="bg-neutral-950 p-4">
            <ul class="flex justify-between items-center">
              <li>
                <button class="text-neutral-600">button</button>
              </li>
              <li>
                <button class="text-neutral-600">button</button>
              </li>
              <li>
                <button class="text-neutral-600">button</button>
              </li>
              <li>
                <button class="text-neutral-600">button</button>
              </li>
            </ul>
          </div>
          <div class="mt-3 gap-3 flex justify-between items-center">
            <div class="rounded-md bg-neutral-950 w-72 h-52 p-3"></div>
            <div class="rounded-md bg-neutral-950 w-72 h-52 p-3"></div>
            <div class="rounded-md bg-neutral-950 w-72 h-52 p-3"></div>
            <div class="rounded-md bg-neutral-950 w-72 h-52 p-3"></div>
          </div>
        </section>
      </section>
      <section class="w-[15%] h-80 bg-neutral-900 rounded-md"></section>
    </section>
  </section>
  <!-- <h3 class="text-xl mt-5 text-white opacity-60 mb-4">Status projects</h3>

  <div class="flex justify-between items-center w-full">
    <div
      class="w-48 h-32 rounded-md text-center bg-neutral-950 border-[1px] border-neutral-800 flex flex-col justify-center items-center"
    >
      <span class="font-light text-neutral-600">Completed</span>
    </div>
    <div
      class="w-48 h-32 rounded-xl text-center bg-neutral-950 border-[1px] border-neutral-800 flex flex-col justify-center items-center"
    >
      <span class="font-light text-neutral-600">Completed</span>
    </div>
    <div
      class="w-48 h-32 rounded-xl text-center bg-neutral-950 border-[1px] border-neutral-800 flex flex-col justify-center items-center"
    >
      <span class="font-light text-neutral-600">Pending</span>
    </div>
    <div
      class="w-48 h-32 rounded-xl text-center bg-neutral-950 border-[1px] border-neutral-800 flex flex-col justify-center items-center"
    >
      <span class="font-light text-neutral-600">Completed</span>
    </div>
  </div> -->

  <!-- <section class="flex justify-between items-center mt-10 w-full">
    <div>
      <h2 class="text-white opacity-50 font-semibold text-[16px]">Projects</h2>
    </div>
    <div class="flex justify-start items-center gap-2">
      <button
        class="bg-[#e6b400] font-semibold opacity-80 hover:opacity-65 rounded-md text-black text-sm px-3 py-1"
      >
        Completed
      </button>
      <button
        class="rounded-md text-neutral-600 hover:opacity-80 border-transparent border-[1px] hover:border-neutral-700 text-sm px-3 py-1 font-semibold bg-neutral-950"
      >
        In Progress
      </button>
      <button
        class="rounded-md text-neutral-600 hover:opacity-80 border-transparent border-[1px] hover:border-neutral-700 text-sm px-3 py-1 font-semibold bg-neutral-950"
      >
        In Progress
      </button>
      <button
        class="rounded-md text-neutral-600 hover:opacity-80 border-transparent border-[1px] hover:border-neutral-700 text-sm px-3 py-1 font-semibold bg-neutral-950"
      >
        In Progress
      </button>
    </div>
  </section> -->
  <!-- 
  <section
    class="grid grid-cols-3 grid-rows-1 gap-16 pt-5 overflow-x-visible relative"
  >
    <app-card-project></app-card-project>
    <app-card-project></app-card-project>
    <app-card-project></app-card-project>
    <i
      class="absolute -right-20 hover:bg-neutral-950 cursor-pointer hover:scale-105 top-1/2 text-sm bi bi-chevron-right w-6 h-6 rounded-full bg-neutral-900 text-neutral-600 flex justify-center items-center"
    ></i>
  </section> -->
</section>
