<section class="p-4 px-10 flex flex-col justify-center items-start w-full">
  <section class="flex justify-between items-center w-full">
    <div class="flex flex-col justify-center items-start">
      <h1 class="text-neutral-400 text-2xl mb-1">
        <i class="bi bi-star color-prime"></i> Team members Projects
      </h1>
      <span class="text-neutral-500 rounded-xl p-[2px] bg-neutral-900 px-3"
        >Manage your members and their account permissions here.</span
      >
    </div>

    <button
      class="text-black bg-prime rounded-md py-1 px-2 text-sm font-semibold hover:opacity-75 h-10 flex justify-center items-center"
    >
      <i class="bi bi-plus text-lg"></i> Add Team Member
    </button>
  </section>
  <div class="h-[1px] bg-neutral-700 w-full my-2 mt-3"></div>
  <section class="flex flex-col items-center justify-center w-full">
    <section class="w-full flex justify-between items-stretch mt-8">
      <div class="text-neutral-500">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem,
        impedit!
      </div>
      <div class="bg-neutral-900 h-56 w-56"></div>
    </section>
    <div class="h-[1px] bg-neutral-700 w-full my-2 mt-3"></div>
  </section>
</section>
