<section class="text-sm w-[32rem] bg-neutral-800 border-t-2 border-[#e6b400]">
  <mat-dialog-actions class="flex justify-between items-center">
    <h2
      class="mb-2 font-semibold flex justify-start items-center"
      mat-dialog-title
    >
      Create New Project
      <mat-icon class="text-lg font-light text-neutral-300"
        >edit_square</mat-icon
      >
    </h2>
    <button mat-button mat-dialog-close class="absolute right-4 top-7">
      <img class="w-8 h-8" src="../../../assets/images/x.svg" alt="" />
    </button>
  </mat-dialog-actions>
  <mat-dialog-content>
    <div class="w-full px-3">
      <div class="flex flex-col justify-center items-start">
        <label for="projectName" class="text-sm font-semibold mb-2"
          >Project Name*
        </label>
        <input
          id="projectName"
          placeholder="Project Name"
          class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-neutral-900"
          type="text"
        />
      </div>
      <div class="flex flex-col justify-center items-start mt-3">
        <label for="projectName" class="text-sm font-semibold mb-2"
          >Description*
        </label>

        <textarea
          class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
          id="description"
          placeholder="Add a brief description"
        ></textarea>
      </div>
      <div class="flex flex-col justify-center items-start mt-3">
        <label for="startDate" class="text-sm font-semibold mb-2"
          >Date of beginning *</label
        >
        <input
          class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
          type="date"
          id="startDate"
          required
        />
      </div>

      <div class="flex flex-col justify-center items-start mt-3">
        <label for="endDate" class="text-sm font-semibold mb-2"
          >Deadline *</label
        >
        <input
          class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
          type="date"
          id="endDate"
          required
        />
      </div>
      <div class="w-full h-[1px] bg-neutral-700 me-2 my-2 mt-5"></div>

      <div class="w-full h-[1px] bg-neutral-700 me-2 my-2 mb-5"></div>

      <div class="flex flex-col justify-center items-start mt-3">
        <label for="projectStatus" class="text-sm font-semibold mb-2"
          >Initial Status *</label
        >
        <select
          id="projectStatus"
          class="text-sm py-2 ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
          required
        >
          <option value="planned" class="text-sm">Planned</option>
          <option value="in-progress" class="text-sm">in progress</option>
          <option value="pending" class="text-sm">Pending</option>
        </select>
      </div>

      <div class="flex flex-col justify-center items-start mt-3">
        <label for="projectTeam" class="text-sm font-semibold mb-2"
          >Team Associated</label
        >
        <select
          class="py-2 text-sm ps-4 px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-neutral-900"
          id="projectTeam"
        >
          <option value="edgar zua" class="text-sm">Edgar Zua</option>
          <option value="denilson belarmino" class="text-sm">
            Denilson Belarmino
          </option>
          <option value="filipe antunes" class="text-sm">Filipe Antunes</option>
        </select>
      </div>

      <div class="flex flex-col justify-center items-start mt-3">
        <label for="priority" class="text-sm font-semibold mb-2"
          >Priority</label
        >
        <select
          id="priority"
          class="py-2 ps-4 text-sm px-2 w-full rounded-md text-neutral-600 border-[1px] border-neutral-600 bg-black"
        >
          <option value="high" class="text-sm">high</option>
          <option value="medium" class="text-sm">medium</option>
          <option value="low" class="text-sm">low</option>
        </select>
      </div>
      <div class="w-full h-[1px] bg-neutral-700 me-2 my-2 mt-5"></div>

      <div class="w-full h-[1px] bg-neutral-700 me-2 my-2 mb-5"></div>

      <div class="flex justify-start items-center gap-3 mt-3">
        <button
          (click)="onSaveCreateNewProject()"
          class="text-sm rounded-md font-medium hover:opacity-80 px-5 py-2 bg-[#e6b400] text-white"
        >
          Submit
        </button>
        <button
          (click)="onCancelCreateNewProject()"
          class="text-sm rounded-md font-medium hover:opacity-80 bg-neutral-900 text-neutral-400 px-5 py-2"
        >
          Cancel
        </button>
      </div>
    </div>
  </mat-dialog-content>
</section>
